.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

.venv
.env
.env.local
.env.development
.env.production

/api/.env
/api/__pycache__
/api/.venv
/api/migrations/
/api/migrations/versions
/api/__pycache__
/api/*/__pycache__
/api/*/*/__pycache__
*/__pycache__
/api/routers/r1/__pycache__
/api/routers/fer1agg/__pycache__
/api/r1api/services/__pycache__
*.pyc

#npm build directory
/dist

# Dependency directories
/node_modules/
/pnpm-store/
/public/
/build/
/.pnp/
.pnp.js

# Optional npm cache directory
.npm

Caddyfile