openapi: 3.0.1
info:
  title: Config Template Service API & Model Documentation
  termsOfService: >-
    https://support.ruckuswireless.com/ruckus-cloud-wifi-legal-terms-and-conditions
  license:
    name: RUCKUS Cloud Privacy Policy
    url: https://support.ruckuswireless.com/ruckus-cloud-privacy-policy
  version: 1.0.0
servers:
  - url: https://api.ruckus.cloud
    description: RUCKUS One API host for North American region.
  - url: https://api.eu.ruckus.cloud
    description: RUCKUS One API host for European region.
  - url: https://api.asia.ruckus.cloud
    description: RUCKUS One API host for Asian region.
tags:
  - name: Configuration Template
    description: Manage Configuration Templates.
paths:
  /templates/{templateId}/enforcementSettings:
    put:
      tags:
        - Configuration Template
      summary: Set Template Enforcement Settings
      description: Set template enforcement settings.  Add Prefix '/rec' for REC Templates.
      operationId: enforcementSettings
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnforceRequest'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/EnforceRequest'
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnforceResponse'
              example:
                requestId: b3d3a0a0-0b1a-4b1a-9b0a-0b1a0b1a0b1a
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EnforceResponse'
              example:
                requestId: b3d3a0a0-0b1a-4b1a-9b0a-0b1a0b1a0b1a
        '400':
          description: Bad/malformed request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Requested resource or related entity not found
        '422':
          description: Validation error
        '500':
          description: Internal Server Error
  /templates/{templateId}/tenants/{tenantId}:
    post:
      tags:
        - Configuration Template
      summary: Apply Template
      description: >-
        Apply a template to the target tenant for creating instances. Add Prefix
        '/rec' for REC Templates.
      operationId: applyTemplateV1
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyRequest'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/ApplyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyTemplateResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/ApplyTemplateResponse'
        '400':
          description: Bad/malformed request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Requested resource or related entity not found
        '422':
          description: Validation error
        '500':
          description: Internal Server Error
  /templates/{templateId}/instances/query:
    post:
      tags:
        - Configuration Template
      summary: Query Drift Instances
      description: >-
        Query drift instances with filter for template. Add Prefix '/rec' for
        REC Templates.
      operationId: queryInstances
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryTemplateInstanceRequest'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/QueryTemplateInstanceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriftInstanceResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/DriftInstanceResponse'
        '400':
          description: Bad/malformed request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Requested resource or related entity not found
        '422':
          description: Validation error
        '500':
          description: Internal Server Error
  /templates/{templateId}/dependencies/query:
    post:
      tags:
        - Configuration Template
      summary: Query Template Dependency
      description: >-
        Query template dependency (direct children only) for a specific template
        with pagination and sorting. Add Prefix '/rec' for REC Templates.
      operationId: queryDependency
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HierarchyQueryRequest'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/HierarchyQueryRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HierarchyQueryResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/HierarchyQueryResponse'
        '400':
          description: Bad/malformed request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Requested resource or related entity not found
        '422':
          description: Validation error
        '500':
          description: Internal Server Error
  /templates/{templateId}/tenants/{tenantId}/diffReports:
    get:
      tags:
        - Configuration Template
      summary: Retrieve Diff Reports
      description: Retrieve diff reports from drift tenant.
      operationId: getDiffReport
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DiffReport'
            application/vnd.ruckus.v1+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DiffReport'
        '400':
          description: Bad/malformed request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Requested resource or related entity not found
        '422':
          description: Validation error
        '500':
          description: Internal Server Error
    patch:
      tags:
        - Configuration Template
      summary: Sync Template
      description: Sync the configuration template to a drift tenant.
      operationId: sync
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncResponse'
              example:
                requestId: b3d3a0a0-0b1a-4b1a-9b0a-0b1a0b1a0b1a
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/SyncResponse'
              example:
                requestId: b3d3a0a0-0b1a-4b1a-9b0a-0b1a0b1a0b1a
        '400':
          description: Bad/malformed request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Requested resource or related entity not found
        '422':
          description: Validation error
        '500':
          description: Internal Server Error
components:
  schemas:
    EnforceRequest:
      type: object
      properties:
        isEnforced:
          type: boolean
    EnforceResponse:
      type: object
      properties:
        requestId:
          type: string
    ApplyRequest:
      type: object
      properties:
        overrides:
          type: array
          description: List of key value pairs to override the template.
          example:
            - key1: value1
              key2: value2
          items:
            $ref: '#/components/schemas/JsonNode'
    JsonNode:
      type: object
      description: List of key value pairs to override the template.
      example:
        - key1: value1
          key2: value2
    ApplyTemplateResponse:
      type: object
      properties:
        requestId:
          type: string
    QueryTemplateInstanceFilter:
      type: object
      properties:
        status:
          type: string
          enum:
            - DRIFT
    QueryTemplateInstanceRequest:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryTemplateInstanceFilter'
    DriftInstance:
      type: object
      properties:
        tenantId:
          type: string
        instanceId:
          type: string
    DriftInstanceResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DriftInstance'
        page:
          type: integer
          format: int64
        totalCount:
          type: integer
          format: int64
    HierarchyQueryRequest:
      type: object
      properties:
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
    HierarchyNode:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        templateType:
          type: string
          enum:
            - NONE
            - NETWORK
            - RADIUS
            - DPSK
            - VENUE
            - WIFI_CALLING
            - DHCP
            - ACCESS_CONTROL
            - APPLICATION_POLICY
            - DEVICE_POLICY
            - L2_ACL
            - L3_ACL
            - PORTAL
            - ROGUE_AP
            - SYSLOG
            - SWITCH_REGULAR
            - SWITCH_CLI
            - VLAN_POOL
            - AP_GROUP
            - TENANT
            - ETHERNET_PORT
            - IDENTITY_GROUP
            - TUNNEL_SERVICE
            - WEBHOOK
            - IPSEC
        tenantId:
          type: string
        templateContext:
          type: string
        tags:
          type: string
        createdBy:
          type: string
        createdOn:
          type: integer
          format: int64
        lastModified:
          type: integer
          format: int64
        lastApplied:
          type: integer
          format: int64
        authorizationToken:
          type: string
        version:
          type: integer
          format: int64
        driftStatus:
          type: string
        isEnforced:
          type: boolean
        type:
          type: string
        appliedOnEcTenants:
          type: array
          items:
            type: string
        appliedOnInstances:
          type: array
          items:
            type: string
        parentId:
          type: string
        children:
          type: array
          items:
            $ref: '#/components/schemas/HierarchyNode'
        supportsChildren:
          type: boolean
    HierarchyQueryResponse:
      type: object
      properties:
        fields:
          type: object
        totalCount:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        requestId:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/HierarchyNode'
    SyncResponse:
      type: object
      properties:
        requestId:
          type: string
    DiffData:
      type: object
      properties:
        path:
          type: string
        data:
          type: object
    DiffReport:
      type: object
      properties:
        diffName:
          type: string
        diffData:
          type: array
          items:
            $ref: '#/components/schemas/DiffData'
