openapi: 3.0.1
info:
  title: External-Auth API and Model Documentation
  description: |-
    # Overview

    ## Rate Limit
     For the ApOps REST API the following will be true: 
     - Limits are applied to each tenant.
     - A maximum of 200 calls can be made per second.
     - Each second 100 calls will be returned to be used.
  license:
    name: RUCKUS Cloud Privacy Policy
    url: https://support.ruckuswireless.com/ruckus-cloud-privacy-policy
  version: 0.0.1
externalDocs:
  url: >-
    https://support.ruckuswireless.com/ruckus-cloud-wifi-legal-terms-and-conditions
servers:
  - url: https://api.asia.ruckus.cloud
    description: Asian region
  - url: https://api.eu.ruckus.cloud
    description: European region
  - url: https://api.ruckus.cloud
    description: North American region
tags:
  - name: SAML Identity Provider
    description: Manage SAML Identity Providers
paths:
  /samlIdpProfiles/{samlIdpProfileId}:
    get:
      tags:
        - SAML Identity Provider
      summary: Get SAML Identity Provider Profile
      description: Retrieve the specified SAML identity provider profile.
      operationId: getSamlIdpProfile
      parameters:
        - name: samlIdpProfileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamlIdpProfileRequest'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/SamlIdpProfileRequest'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not-authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related-entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '423':
          description: Locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - SAML Identity Provider
      summary: Update Entire SAML Identity Provider Profile
      description: Update the specified entire SAML identity provider profile.
      operationId: updateSamlIdpProfile
      parameters:
        - name: samlIdpProfileId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamlIdpProfileRequest'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/SamlIdpProfileRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not-authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related-entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '423':
          description: Locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - SAML Identity Provider
      summary: Delete SAML Identity Provider  Profile
      description: Delete the specified SAML identity provider profile.
      operationId: deleteSamlIdpProfile
      parameters:
        - name: samlIdpProfileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not-authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related-entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '423':
          description: Locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - SAML Identity Provider
      summary: Update Partial SAML Identity Provider Profile
      description: Update the specified partial SAML identity provider profile.
      operationId: samlIdpProfileAction
      parameters:
        - name: samlIdpProfileId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamlIdpProfileAction'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/SamlIdpProfileAction'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not-authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related-entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '423':
          description: Locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /samlIdpProfiles/{samlIdpProfileId}/signingCertificates/{certificateId}:
    put:
      tags:
        - SAML Identity Provider
      summary: Activate Signing Certificate
      description: >-
        Activates the specified signing certificate for the SAML identity
        provider profile.
      operationId: activateSigningCertificateOnSamlIdpProfile
      parameters:
        - name: samlIdpProfileId
          in: path
          required: true
          schema:
            type: string
        - name: certificateId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not-authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related-entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '423':
          description: Locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - SAML Identity Provider
      summary: Deactivate Signing Certificate
      description: >-
        Deactivates the specified signing certificate for the SAML identity
        provider profile.
      operationId: deactivateSigningCertificateOnSamlIdpProfile
      parameters:
        - name: samlIdpProfileId
          in: path
          required: true
          schema:
            type: string
        - name: certificateId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not-authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related-entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '423':
          description: Locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /samlIdpProfiles/{samlIdpProfileId}/encryptionCertificates/{certificateId}:
    put:
      tags:
        - SAML Identity Provider
      summary: Activate Encryption Certificate
      description: >-
        Activates the specified encryption certificate for the SAML identity
        provider profile.
      operationId: activateEncryptionCertificateOnSamlIdpProfile
      parameters:
        - name: samlIdpProfileId
          in: path
          required: true
          schema:
            type: string
        - name: certificateId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not-authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related-entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '423':
          description: Locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - SAML Identity Provider
      summary: Deactivate Encryption Certificate
      description: >-
        Deactivates the specified encryption certificate for the SAML identity
        provider profile.
      operationId: deactivateEncryptionCertificateOnSamlIdpProfile
      parameters:
        - name: samlIdpProfileId
          in: path
          required: true
          schema:
            type: string
        - name: certificateId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not-authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related-entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '423':
          description: Locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /samlIdpProfiles:
    post:
      tags:
        - SAML Identity Provider
      summary: Create SAML Identity Provider Profile
      description: Create a SAML identity provider profile.
      operationId: createSamlIdpProfile
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamlIdpProfileRequest'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/SamlIdpProfileRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityIdOperationResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EntityIdOperationResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not-authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related-entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '423':
          description: Locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    AttributeMapping:
      required:
        - mappedByName
        - name
      type: object
      properties:
        name:
          type: string
        mappedByName:
          maxLength: 255
          minLength: 1
          type: string
    SamlIdpProfileRequest:
      required:
        - name
      type: object
      properties:
        name:
          maxLength: 32
          minLength: 2
          type: string
        metadata:
          type: string
          description: Base64-encoded content, max 512KB when decoded.
        metadataUrl:
          maxLength: 2048
          minLength: 0
          pattern: >-
            ^https?:\/\/([A-Za-z0-9]+([\-\.]{1}[A-Za-z0-9]+)*\.[A-Za-z]{2,}|(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])|localhost)(:([1-9][0-9]{1,3}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5]))?(\/.*)?([?#].*)?$
          type: string
        updatedDate:
          type: string
          format: date-time
          readOnly: true
        attributeMappings:
          maxItems: 64
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/AttributeMapping'
    OperationResponseRequestIdOnly:
      type: object
      properties:
        requestId:
          type: string
    EntityId:
      type: object
      properties:
        id:
          type: string
    EntityIdOperationResponse:
      type: object
      properties:
        requestId:
          type: string
        response:
          $ref: '#/components/schemas/EntityId'
    SamlIdpProfileAction:
      type: object
      properties:
        action:
          type: string
          enum:
            - REFRESH_METADATA
    ErrorResponse:
      type: object
      properties:
        requestId:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WifiError'
        downloadUrl:
          type: string
    WifiError:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        suggestion:
          type: string
        reason:
          type: string
