openapi: 3.0.1
info:
  title: Switch Service API & Model Documentation
  description: |-
    # Overview

     ## Rate Limit
     For the Switch REST API the following will be true: 
     - Limits are applied to each tenant.
     - A maximum of 20 calls can be made per second.
     - Each second 10 calls will be returned to be used.
  termsOfService: >-
    https://support.ruckuswireless.com/ruckus-cloud-wifi-legal-terms-and-conditions
  license:
    name: RUCKUS Cloud Privacy Policy
    url: https://support.ruckuswireless.com/ruckus-cloud-privacy-policy
  version: 0.4.0
servers:
  - url: https://api.ruckus.cloud
    description: RUCKUS One API host for North American region.
  - url: https://api.eu.ruckus.cloud
    description: RUCKUS One API host for European region.
  - url: https://api.asia.ruckus.cloud
    description: RUCKUS One API host for Asian region.
security:
  - jwtAuth: []
tags:
  - name: AAA Server
    description: Manage AAA (authentication, authorization, and accounting) Servers.
  - name: AAA Setting
    description: Manage AAA (authentication, authorization, and accounting) Settings.
  - name: Command-Line Interface Template
    description: Manage command-line interface templates.
  - name: Configuration History
    description: Retrieve configuration history.
  - name: DHCP Server
    description: Manage ICX DHCP servers.
  - name: ICX Switch
    description: Manage ICX Switches.
  - name: Import Switch
    description: Import Switches.
  - name: LAG
    description: Manage LAGs (link aggregation groups).
  - name: Profile
    description: Manage switch profiles.
  - name: Profile Template
    description: Manage switch profile templates.
  - name: Profile VLAN
    description: Manage VLANs (virtual local area networks) of switch profile.
  - name: Switch Access Control List
    description: Manage ACLs (access control lists).
  - name: Switch Configuration Backup
    description: Manage configuration backups.
  - name: Switch Firmware Upgrade
    description: Manage firmware upgrade.
  - name: Switch Ports
    description: Manage Ports.
  - name: Switch Static Routes
    description: Manage static routes.
  - name: Switch VLAN
    description: Manage VLANs (virtual local area networks).
  - name: Switch Virtual Ethernet
    description: Manage VE (virtual ethernet) port settings.
  - name: Venue Switch Setting
    description: Manage a switch's venue-level settings.
  - name: Venue Template AAA Server
    description: >-
      Manage Venue Template AAA (authentication, authorization, and accounting)
      Servers.
  - name: Venue Template AAA Setting
    description: >-
      Manage Venue Template AAA (authentication, authorization, and accounting)
      Settings.
  - name: Venue Template Switch Setting
    description: Manage switch settings of venue template.
  - name: Web Authentication Page Template
    description: Manage web authentication page template.
paths:
  /webAuthPageTemplates/{templateId}:
    get:
      tags:
        - Web Authentication Page Template
      summary: Get Web Authentication Template
      description: Get a web authentication page template by id.
      operationId: GetWebAuthPageTemplate_1_1
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAuthPageTemplate_V1'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/WebAuthPageTemplate_V1'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/WebAuthPageTemplateViewV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Web Authentication Page Template
      summary: Update Web Authentication Template
      description: Update web authentication page template by id.
      operationId: PutWebAuthPageTemplate_1_1
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebAuthPageTemplateBo'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/WebAuthPageTemplateBo'
          application/vnd.ruckus.v1.1+json:
            schema:
              $ref: '#/components/schemas/WebAuthPageTemplateViewV1001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAuthPageTemplate_V1'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/WebAuthPageTemplate_V1'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/WebAuthPageTemplateResponseV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Web Authentication Page Template
      summary: Delete Web Authentication Template
      description: Delete web authentication page template by id.
      operationId: DeleteWebAuthPageTemplate_1_1
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /venues/{venueId}/switches/{switchId}:
    get:
      tags:
        - ICX Switch
      summary: Get ICX Switch
      description: Get ICX switch by id.
      operationId: GetSwitchById
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IcxSwitchViewV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/IcxSwitchViewV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - ICX Switch
      summary: Update ICX Switch
      description: >-
        Update ICX switch. Use activity API with request id to get the status
        update.
      operationId: UpdateSwitchById
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IcxSwitchViewV1001'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/IcxSwitchViewV1001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IcxSwitchResponseV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/IcxSwitchResponseV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - ICX Switch
      summary: Add ICX Switch
      description: >-
        Add an ICX switch. Use activity API with request id to get the status
        update.
      operationId: AddSwitch
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IcxSwitchViewV1001'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/IcxSwitchViewV1001'
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - ICX Switch
      summary: Delete ICX Switch
      description: Delete ICX switch by id.
      operationId: DeleteSwitchById
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /venues/{venueId}/switches/{switchId}/vlans/{vlanId}:
    get:
      tags:
        - Switch VLAN
      summary: Get Switch VLAN
      description: Get the specified switch-level VLAN by id.
      operationId: GetSwitchVlan
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
        - name: vlanId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwitchVlanViewV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/SwitchVlanViewV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Switch VLAN
      summary: Update Switch VLAN
      description: Update a VLAN of the switch.
      operationId: UpdateSwitchVlan
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
        - name: vlanId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwitchVlanDtoV1001'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/SwitchVlanDtoV1001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwitchVlanResponseV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/SwitchVlanResponseV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Switch VLAN
      summary: Delete Switch VLAN
      description: Delete a VLAN of the switch.
      operationId: DeleteSwitchVlan
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
        - name: vlanId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /venues/{venueId}/switches/{switchId}/vePorts/{vePortId}:
    get:
      tags:
        - Switch Virtual Ethernet
      summary: Get Virtual Ethernet Setting
      description: Get a specified virtual ethernet port.
      operationId: GetVePort
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
        - name: vePortId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VePortViewV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/VePortViewV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Switch Virtual Ethernet
      summary: Update Virtual Ethernet Setting
      description: Update virtual ethernet port.
      operationId: UpdateVePort
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
        - name: vePortId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VePortDtoV1001'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/VePortDtoV1001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VePortResponseV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/VePortResponseV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Switch Virtual Ethernet
      summary: Delete Virtual Ethernet Setting
      description: Delete virtual ethernet port.
      operationId: DeleteVePort
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
        - name: vePortId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /venues/{venueId}/switches/{switchId}/staticRoutes/{staticRouteId}:
    get:
      tags:
        - Switch Static Routes
      summary: Get Static Route
      description: Get the specified static route.
      operationId: GetStaticRouteById
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
        - name: staticRouteId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticRouteViewV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/StaticRouteViewV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Switch Static Routes
      summary: Update Static Route
      description: Update the specified static route.
      operationId: UpdateStaticRoute
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
        - name: staticRouteId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StaticRouteViewV1001'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/StaticRouteViewV1001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticRouteResponseV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/StaticRouteResponseV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Switch Static Routes
      summary: Delete Static Route
      description: Delete the specified static route.
      operationId: DeleteStaticRoute
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
        - name: staticRouteId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /venues/{venueId}/switches/{switchId}/positions:
    put:
      tags:
        - ICX Switch
      summary: Update Switch Position
      description: Update ICX switch position in the floor plan.
      operationId: UpdateSwitchPosition
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwitchPositionViewV1001'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/SwitchPositionViewV1001'
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /venues/{venueId}/switches/{switchId}/portSettings:
    get:
      tags:
        - Switch Ports
      summary: Get Ports
      description: Get switch's port settings by switch id.
      operationId: GetSwitchPortsBySwitchId
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PortViewV1001'
            application/vnd.ruckus.v1+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PortViewV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Switch Ports
      summary: Update Port
      description: >-
        Update switch's port setting. Use activity API with request id to get
        the status update.
      operationId: UpdatePortSettings
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortDtoV1001'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/PortDtoV1001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortResponseV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/PortResponseV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Switch Ports
      summary: Get Ports
      description: Get switch's port settings with port ids.
      operationId: GetSwitchPortsByPortIds
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          application/vnd.ruckus.v1+json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PortViewV1001'
            application/vnd.ruckus.v1+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PortViewV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /venues/{venueId}/switches/{switchId}/lags/{lagId}:
    get:
      tags:
        - LAG
      summary: Get LAG
      description: Get LAG setting by id.
      operationId: GetLag
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
        - name: lagId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LagViewV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/LagViewV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - LAG
      summary: Update LAG
      description: Update switch's LAG setting.
      operationId: UpdateLag
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
        - name: lagId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LagDtoV1001'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/LagDtoV1001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LagResponseV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/LagResponseV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - LAG
      summary: Delete LAG
      description: Delete switch's LAG setting.
      operationId: DeleteLag
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
        - name: lagId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /venues/{venueId}/switches/{switchId}/dhcpServers/{dhcpServerId}:
    get:
      tags:
        - DHCP Server
      summary: Get DHCP Server-Setting
      description: Get switch's DHCP server setting.
      operationId: GetSwitchDhcpServerSetting
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
        - name: dhcpServerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DhcpServerViewV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/DhcpServerViewV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - DHCP Server
      summary: Update DHCP Server-Setting
      description: Update switch's DHCP server setting.
      operationId: UpdateSwitchDhcpServerSettings
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
        - name: dhcpServerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DhcpServerViewV1001'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/DhcpServerViewV1001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DhcpServerResponseV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/DhcpServerResponseV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - DHCP Server
      summary: Delete DHCP Server-Setting
      description: Delete switch's DHCP server setting.
      operationId: DeleteSwitchDhcpServerSetting
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchId
          in: path
          required: true
          schema:
            type: string
        - name: dhcpServerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /venues/{venueId}/switches/portSettings:
    put:
      tags:
        - Switch Ports
      summary: Update Ports
      description: >-
        Update ports of different switches. Use activity API with request id to
        get the status update.
      operationId: UpdatePortsAmongSwitches
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PortsDtoV1001'
          application/vnd.ruckus.v1+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PortsDtoV1001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortResponseV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/PortResponseV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Switch Ports
      summary: Get Ports
      description: Get port settings of different switches.
      operationId: GetPortsAmongSwitches
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PortRequestV1001'
          application/vnd.ruckus.v1+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PortRequestV1001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PortViewV1001'
            application/vnd.ruckus.v1+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PortViewV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /venues/{venueId}/switchSettings:
    get:
      tags:
        - Venue Switch Setting
      summary: Get Venue Switch Setting
      description: Get the switch settings of the venue.
      operationId: GetVenueSetting_1_1
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Venue_V1'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/Venue_V1'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/VenueViewV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Venue Switch Setting
      summary: Update Venue Switch Setting
      description: >-
        Update the switch settings of the venue. Use activity API with request
        id to get the status update.
      operationId: UpdateVenueSetting_1_1
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVenueSettingBo'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/UpdateVenueSettingBo'
          application/vnd.ruckus.v1.1+json:
            schema:
              $ref: '#/components/schemas/VenueDtoV1001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Venue_V1'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/Venue_V1'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/VenueResponseV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /venues/{venueId}/switchProfiles/{switchProfileId}:
    put:
      tags:
        - Profile
      summary: Associate Switch Profile to Venue
      description: Associate a switch profile to a venue.
      operationId: AssociateProfile
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchProfileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Profile
      summary: Disassociate Switch Profile to Venue
      description: Disassociate a switch profile to a venue.
      operationId: DisassociateProfile
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchProfileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /venues/{venueId}/switchFirmwares/schedules:
    put:
      tags:
        - Switch Firmware Upgrade
      summary: Change Upgrade Schedule
      description: >-
        Schedule the firmware upgrade for venues. Use activity API with request
        id to get the status update.
      operationId: ChangeUpdateScheduleV1001
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeScheduleDtoV1001'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/ChangeScheduleDtoV1001'
          application/vnd.ruckus.v1.1+json:
            schema:
              $ref: '#/components/schemas/ChangeScheduleDtoV1001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Switch Firmware Upgrade
      summary: Create Upgrade Schedule
      description: >-
        Schedule the firmware upgrade for venues. Use activity API with request
        id to get the status update.
      operationId: UpdateSchedule_1
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: manualOverride
          in: query
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeSchedule_V1'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/ChangeSchedule_V1'
          application/vnd.ruckus.v1.1+json:
            schema:
              $ref: '#/components/schemas/ChangeScheduleDtoV1001'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Switch Firmware Upgrade
      summary: Delete Upgrade Schedule
      description: Cancel the schedule for firmware upgrade.
      operationId: SkipUpgradeSchedule
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkipScheduleUpgradeDtoV1000'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/SkipScheduleUpgradeDtoV1000'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /venues/{venueId}/cliTemplates/{cliTemplateId}:
    put:
      tags:
        - Command-Line Interface Template
      summary: Associate Command-Line Interface Templates
      description: Associate command-line interface templates to switches.
      operationId: AssociateCliTemplate
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: cliTemplateId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Command-Line Interface Template
      summary: Disassociate Command-Line Interface Templates
      description: Disassociate command-line interface templates to switches.
      operationId: DisassociateCliTemplate
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: cliTemplateId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /venues/{venueId}/aaaSettings:
    get:
      tags:
        - AAA Setting
      summary: Retrieve AAA Setting
      description: Retrieve venue's authentication, authorization, and accounting setting.
      operationId: GetAaaSettings_1_1
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AAASetting_V1'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/AAASetting_V1'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/AaaSettingViewV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - AAA Setting
      summary: Update AAA Setting
      description: >-
        Update authentication, authorization, and accounting setting by id. Use
        activity API with request id to get the status update.
      operationId: PutAaaSetting
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AaaSettingViewV1001'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/AaaSettingViewV1001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AaaSettingResponseV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/AaaSettingResponseV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /venues/{venueId}/aaaServers/{aaaServerId}:
    get:
      tags:
        - AAA Server
      summary: Get AAA Server-Setting
      description: >-
        Get a switch's authentication, authorization, and accounting server
        setting.
      operationId: GetAaaServer
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: aaaServerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AaaServerViewV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/AaaServerViewV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - AAA Server
      summary: Update AAA Server
      description: >-
        Update authentication, authorization, and accounting server by id. Use
        activity API with request id to get the status update.
      operationId: PutAaaServer_1_1
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: aaaServerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AaaServerBo'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/AaaServerBo'
          application/vnd.ruckus.v1.1+json:
            schema:
              $ref: '#/components/schemas/AaaServerDtoV1001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AAAServer_V1'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/AAAServer_V1'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/AaaServerResponseV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - AAA Server
      summary: Delete AAA Server
      description: Delete authentication, authorization, and accounting server by id.
      operationId: DeleteAaaServer
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: aaaServerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /templates/venues/{venueId}/switchSettings:
    get:
      tags:
        - Venue Template Switch Setting
      summary: Get Venue Template Switch Setting
      description: Get the switch settings of the venue template.
      operationId: GetVenueTemplateSetting_1_1
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenueTemplateViewV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/Venue_V1'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/VenueTemplateViewV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Venue Template Switch Setting
      summary: Update Venue Template Switch Setting
      description: >-
        Update the switch settings of the venue template. Use activity API with
        request id to get the status update.
      operationId: UpdateVenueTemplateSetting_1_1
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VenueTemplateDtoV1001'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/UpdateVenueSettingBo'
          application/vnd.ruckus.v1.1+json:
            schema:
              $ref: '#/components/schemas/VenueTemplateDtoV1001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenueResponseV1001'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/Venue_V1'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/VenueResponseV1001'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /templates/venues/{venueId}/switchProfiles/{switchProfileId}:
    put:
      tags:
        - Profile Template
      summary: Associate Switch Profile Template
      description: >-
        Associate a regular switch profile template or command-line interface
        profile template to venue template.
      operationId: AssociateProfileTemplate
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchProfileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested resource or related entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Profile Template
      summary: Disassociate Switch Profile Template
      description: >-
        Disassociate a regular switch profile template or command-line interface
        profile template to venue template.
      operationId: DisassociateProfileTemplate
      parameters:
        - name: venueId
          in: path
          required: true
          schema:
            type: string
        - name: switchProfileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad/malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
[...]
