openapi: 3.0.1
info:
  description: |-
    # Overview

     ## Rate Limit
     For the Wifi REST API the following will be true: 
     - Limits are applied to each tenant.
     - A maximum of 200 calls can be made per second.
     - Each second 100 calls will be returned to be used.
  license:
    name: RUCKUS Cloud Privacy Policy
    url: https://support.ruckuswireless.com/ruckus-cloud-privacy-policy
  title: Wi-Fi API and Model Documentation
  version: 17.3.3.205
externalDocs:
  url: >-
    https://support.ruckuswireless.com/ruckus-cloud-wifi-legal-terms-and-conditions
servers:
  - url: https://api.asia.ruckus.cloud
    description: Asian region
  - url: https://api.eu.ruckus.cloud
    description: European region
  - url: https://api.ruckus.cloud
    description: North American region
tags:
  - description: >-
      Query AP Feature compatibility report, including incompatible feature of
      AP model and firmware version.
    name: AP Compatibility
  - description: >-
      Manage client isolation profiles.<br><br>Client isolation features, when
      enabled, prevent clients residing on a common VLAN from exchanging packets
      with each other.  Client isolation is enforced by APs working at layer 2
      (bridging).  If client isolation is needed between VLANs/IP subnets,
      routers must also be configured to prevent packet exchange at layer 3.  A
      client isolation profile provides the capability for administrators to
      configure exceptions to this isolation behavior.  For example, an
      administrator may want to allow clients on a public network to access a
      printer in a common area of their venue.  If so, the MAC and IP addresses
      of the printer (or any excepted device) can be configured on the client
      isolation profile.<br><br> Client isolation can be used in conjunction
      with walled gardens for public networks.  Walled gardens provide limited
      access to services _prior_ to client authentication whereas client
      isolation profiles provide connectivity options _post_
      authentication.<br><br>Client isolation does not work when clients are
      assigned static IP addresses.  For this reason, Ruckus recommends using
      DHCP lease reservations in lieu of static IP addresses when using this
      feature.  Administrators may also want to consider use of the force DHCP
      option, available during wireless network
      configuration.<br><br>Complications to client isolation can arise when the
      VLAN's default gateway employs VRRP or HSRP for high availability or when
      Multicast DNS Proxy is configured on the same WLAN as the profile.  If
      either of these situations applies in your network, please contact Ruckus
      customer support for assistance.
    name: Client Isolation Profile
  - description: Manage Syslog server profile templates.
    name: Syslog Server Profile Template
  - description: Portal service profile.
    name: Wi-Fi Portal Service Profile
  - description: Manage SAML identity provider profiles.
    name: SAML Identity Provider Profile
  - description: Portal service profile template.
    name: Portal Service Profile Template
  - description: Manage layer-3 ACL policy profiles.
    name: L3ACL Policy
  - description: Manage RADIUS server profiles.
    name: RADIUS Profile
  - description: Manage device policy templates.
    name: Device Policy Template
  - description: Manage application policy template profile template.
    name: Application Policy Template
  - description: Manage VLAN pool profile templates.
    name: VLAN Pool Profile Template
  - description: Manage Hotspot 2.0 Operators.
    name: Hotspot 2.0 Operator
  - description: >-
      Manage rogue AP detection policies.<br><br>Rogue APs are Wi-Fi APs which
      are in radio range of your Wi-Fi network, but are unknown to the Ruckus
      cloud. For example, these may be APs in installed your venues without
      explicit authorization from your administrators, whether added by a
      well-meaning employee or by a malicious attacker; as such, they could be
      on the same LAN as your authorized APs. They could also be APs installed
      in nearby venues (for example, if your venue is part of a multi-tenant
      facility). Rogue classification polices help to automatically classify
      these unknown APs by setting up rules which trigger a rogue AP report when
      specific-rogue detection criteria are met.
    name: Rogue AP Detection Policy
  - description: >-
      Manage Wi-Fi venue configuration, including radio settings, mesh, LEDs,
      LAN-ports, and syslog.
    name: AP Venue
  - description: Manage layer-2 ACL policy profiles.
    name: L2ACL Policy
  - description: Manage SNMP agent profiles.
    name: SNMP Agent Profile
  - description: Manage access control profile templates.
    name: Access Control Profile Template
  - description: Manage RADIUS server profile templates.
    name: RADIUS Server Profile Template
  - description: Manage Hotspot 2.0 Identity Providers.
    name: Hotspot 2.0 Identity Provider
  - description: Manage SoftGRE profiles.
    name: SoftGRE Profile
  - description: >-
      Manage Wi-Fi venue template configuration, including radio settings, mesh,
      LEDs, LAN-ports, and syslog.
    name: AP Venue Template
  - description: >-
      Managing the relationships for Wi-Fi network template activation within
      venue template associations.
    name: Wi-Fi Network Template
  - description: Manage access control profiles.
    name: Access Control Profile
  - description: Manage layer-3 ACL policy profile templates.
    name: L3ACL Policy Template
  - description: Manage AP-Group templates.
    name: AP Group Template
  - description: Manage DPSK services.
    name: DPSK Service
  - description: Manage VLAN pool profiles.
    name: VLAN Pool Profile
  - description: Manage location based service server profiles.
    name: LBS Server Profile
  - description: Manage the current tenant's application library settings.
    name: Application Library
  - description: Manage Wi-Fi calling service profiles.
    name: Wi-Fi Calling Service Profile
  - description: >-
      Manage APs including pinging, trace-routing, resetting, rebooting,
      floor-plan positioning and LAN-Ports settings.
    name: AP
  - description: Manage DHCP configuration service profile templates.
    name: DHCP Configuration Service Profile Template
  - description: Manage rogue AP detection policy templates.
    name: Rogue AP Detection Policy Template
  - description: Manage Wi-Fi calling service profile templates.
    name: Wi-Fi Calling Service Profile Template
  - description: Manage Syslog server profiles.
    name: Syslog Server Profile
  - description: Manage Wi-Fi network profiles.
    name: Wi-Fi Network
  - description: Manage application policy profiles.
    name: Application Policy
  - description: Manage AP-Groups.
    name: AP Group
  - description: Manage client connections.
    name: Client
  - description: Manage DHCP configuration service profiles.
    name: DHCP Configuration Service Profile
  - description: Manage MAC registration pool profiles.
    name: MAC Registration Pool
  - description: Manage VRIoT with venue or AP.
    name: VRIoT Management
  - description: Manage tunnel service profiles.
    name: Tunnel Service Profile
  - description: Manage ethernet port profiles.
    name: Ethernet Port Profile
  - description: Manage device policies.
    name: Device Policy
  - description: Manage Multicast DNS proxy service profiles.
    name: MDNS Proxy Service Profile
  - description: Manage layer-2 ACL policy profile templates.
    name: L2ACL Policy
  - description: Manage tunnel service profile templates.
    name: Tunnel Service Profile Template
  - description: Manage Wi-Fi network template profiles.
    name: Wi-Fi Network Template
  - description: Manage DPSK service templates.
    name: DPSK Service Template
  - description: Manage the current tenant's application library and settings.
    name: Application Library
  - description: >-
      Managing the relationships for Wi-Fi network activation within venue
      associations.
    name: Wi-Fi Network
  - description: Manage certificate templates.
    name: Certificate Template Activation
paths:
  /accessControlProfiles:
    post:
      description: >-
        Add an access control profile. Content-Type:
        "application/vnd.ruckus.v1+json" will be deprecated on 2024/9/1.
      operationId: addAccessControlProfile
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessControlProfile'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/AccessControlProfile'
          application/vnd.ruckus.v1.1+json:
            schema:
              $ref: '#/components/schemas/AccessControlProfileV1_1'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessControlProfileOperationResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/AccessControlProfileOperationResponse'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/EntityIdOperationResponse'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Add Access Control Profile
      tags:
        - Access Control Profile
  /accessControlProfiles/{accessControlProfileId}:
    delete:
      description: >-
        Delete the specified access control profile. Content-Type:
        "application/vnd.ruckus.v1+json" will be deprecated on 2024/9/1.
      operationId: deleteAccessControlProfile
      parameters:
        - description: Access control profile identity
          in: path
          name: accessControlProfileId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Delete Access Control Profile
      tags:
        - Access Control Profile
    get:
      description: >-
        Get an access control profile by profile identity. Content-Type:
        "application/vnd.ruckus.v1+json" will be deprecated on 2024/9/1.
      operationId: getAccessControlProfile
      parameters:
        - description: Access control profile identity
          in: path
          name: accessControlProfileId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessControlProfile'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/AccessControlProfile'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/AccessControlProfileV1_1'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get Access Control Profile
      tags:
        - Access Control Profile
    put:
      description: >-
        Update the specified access control profile. Content-Type:
        "application/vnd.ruckus.v1+json" will be deprecated on 2024/9/1.
      operationId: updateAccessControlProfile
      parameters:
        - description: Access control profile identity
          in: path
          name: accessControlProfileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessControlProfile'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/AccessControlProfile'
          application/vnd.ruckus.v1.1+json:
            schema:
              $ref: '#/components/schemas/AccessControlProfileV1_1'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Update Access Control Profile
      tags:
        - Access Control Profile
  /accessControlProfiles/{accessControlProfileId}/applicationPolicies/{applicationPolicyId}:
    delete:
      description: >-
        Use this API command to deactivate an application policy on an access
        control profile.
      operationId: deactivateApplicationPolicyOnAccessControlProfile
      parameters:
        - in: path
          name: accessControlProfileId
          required: true
          schema:
            type: string
        - in: path
          name: applicationPolicyId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Deactivate Application Policy On Access Control Profile
      tags:
        - Application Policy
    put:
      description: >-
        Use this API command to activate an application policy on an access
        control profile.
      operationId: activateApplicationPolicyOnAccessControlProfile
      parameters:
        - in: path
          name: accessControlProfileId
          required: true
          schema:
            type: string
        - in: path
          name: applicationPolicyId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Activate Application Policy On Access Control Profile
      tags:
        - Application Policy
  /accessControlProfiles/{accessControlProfileId}/devicePolicies/{devicePolicyId}:
    delete:
      description: >-
        Use this API command to delete a relationship between device policy and
        access control profile.
      operationId: deactivateDevicePolicyOnAccessControlProfile
      parameters:
        - description: Access Control Profile ID
          in: path
          name: accessControlProfileId
          required: true
          schema:
            type: string
        - description: Device Policy ID
          in: path
          name: devicePolicyId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Deactivate Device Policy On Access Control Profile
      tags:
        - Device Policy
    put:
      description: >-
        Use this API command to build a relationship between device policy and
        access control profile.
      operationId: activateDevicePolicyOnAccessControlProfile
      parameters:
        - description: Access Control Profile ID
          in: path
          name: accessControlProfileId
          required: true
          schema:
            type: string
        - description: Device Policy ID
          in: path
          name: devicePolicyId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Activate Device Policy On Access Control Profile
      tags:
        - Device Policy
  /accessControlProfiles/{accessControlProfileId}/l2AclPolicies/{l2AclPolicyId}:
    delete:
      description: Deactivate layer-2 ACL policy on access control profile.
      operationId: deactivateL2AclPolicyOnAccessControlProfile
      parameters:
        - description: Access Control Profile ID
          in: path
          name: accessControlProfileId
          required: true
          schema:
            type: string
        - description: L2Acl Policy ID
          in: path
          name: l2AclPolicyId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Deactivate Layer-2 ACL Policy On Access Control Profile
      tags:
        - L2ACL Policy
    put:
      description: Activate layer-2 ACL policy on access control profile.
      operationId: activateL2AclPolicyOnAccessControlProfile
      parameters:
        - description: Access Control Profile ID
          in: path
          name: accessControlProfileId
          required: true
          schema:
            type: string
        - description: L2Acl Policy ID
          in: path
          name: l2AclPolicyId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Activate Layer-2 ACL Policy On Access Control Profile
      tags:
        - L2ACL Policy
  /accessControlProfiles/{accessControlProfileId}/l3AclPolicies/{l3AclPolicyId}:
    delete:
      description: Deactivate layer-3 ACL policy on access control profile.
      operationId: deactivateL3AclPolicyOnAccessControlProfile
      parameters:
        - description: Access Control Profile ID
          in: path
          name: accessControlProfileId
          required: true
          schema:
            type: string
        - description: L3Acl Policy ID
          in: path
          name: l3AclPolicyId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Deactivate Layer-3 ACL Policy On Access Control Profile
      tags:
        - L3ACL Policy
    put:
      description: Activate layer-3 ACL policy on access control profile.
      operationId: activateL3AclPolicyOnAccessControlProfile
      parameters:
        - description: Access Control Profile ID
          in: path
          name: accessControlProfileId
          required: true
          schema:
            type: string
        - description: L3Acl Policy ID
          in: path
          name: l3AclPolicyId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Activate Layer-3 ACL Policy On Access Control Profile
      tags:
        - L3ACL Policy
  /applicationLibraries/{applicationLibraryId}/categories:
    get:
      operationId: getApplicationLibraryCategories
      parameters:
        - description: The ID (version) of the application library.
          in: path
          name: applicationLibraryId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationLibraryCategories'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/ApplicationLibraryCategories'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get Application Library Categories
      tags:
        - Application Library
  /applicationLibraries/{applicationLibraryId}/categories/{categoryId}/applications:
    get:
      operationId: getApplicationLibraryApplications
      parameters:
        - description: The ID (version) of the application library.
          in: path
          name: applicationLibraryId
          required: true
          schema:
            type: string
        - description: The ID of the application category.
          in: path
          name: categoryId
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationLibraryApplications'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/ApplicationLibraryApplications'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get Application Library Applications
      tags:
        - Application Library
  /applicationLibrarySettings:
    get:
      description: Use this API to get the current application library settings.
      operationId: getApplicationLibrarySettingsCsv
      parameters:
        - description: >-
            Specify which type of changed application would be included in the
            response
          in: query
          name: type
          required: false
          schema:
            type: string
        - description: Include changed application information in response
          in: query
          name: changesIncluded
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ApplicationLibrarySettings'
                  - type: object
            application/vnd.ruckus.v1+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ApplicationLibrarySettings'
                  - type: object
            text/csv:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ApplicationLibrarySettings'
                  - type: object
            text/vnd.ruckus.v1+csv:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ApplicationLibrarySettings'
                  - type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get Application Library Settings
      tags:
        - Application Library
    patch:
      description: Patch application library settings.
      operationId: patchApplicationLibrarySettings
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationLibrarySettings'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/ApplicationLibrarySettings'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Patch Application Library Settings
      tags:
        - Application Library
  /applicationPolicies:
    post:
      description: >-
        Use this API command to create a new application policy. Content-Type:
        "application/vnd.ruckus.v1+json" will be deprecated on 2024/09/01.
      operationId: addApplicationPolicy
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationPolicy'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/ApplicationPolicy'
          application/vnd.ruckus.v1.1+json:
            schema:
              $ref: '#/components/schemas/ApplicationPolicyV1_1'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPolicyOperationResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/ApplicationPolicyOperationResponse'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/EntityIdOperationResponse'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Add Application Policy
      tags:
        - Application Policy
  /applicationPolicies/{applicationPolicyId}:
    delete:
      description: Use this API command to delete application policy.
      operationId: deleteApplicationPolicy
      parameters:
        - in: path
          name: applicationPolicyId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Delete Application Policy
      tags:
        - Application Policy
    get:
      description: >-
        Use this API command to get the application policy details.
        Content-Type: "application/vnd.ruckus.v1+json" will be deprecated on
        2024/09/01.
      operationId: getApplicationPolicy
      parameters:
        - in: path
          name: applicationPolicyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPolicy'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/ApplicationPolicy'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/ApplicationPolicyV1_1'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get Application Policy
      tags:
        - Application Policy
    put:
      description: >-
        Use this API command to update application policy. Content-Type:
        "application/vnd.ruckus.v1+json" will be deprecated on 2024/09/01.
      operationId: updateApplicationPolicy
      parameters:
        - in: path
          name: applicationPolicyId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationPolicy'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/ApplicationPolicy'
          application/vnd.ruckus.v1.1+json:
            schema:
              $ref: '#/components/schemas/ApplicationPolicyV1_1'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Update Application Policy
      tags:
        - Application Policy
  /clientIsolationProfiles:
    post:
      description: Create a new client isolation profile.
      operationId: createClientIsolationProfile
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientIsolationProfile'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/ClientIsolationProfile'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityIdOperationResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EntityIdOperationResponse'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Create Client Isolation Profile
      tags:
        - Client Isolation Profile
  /clientIsolationProfiles/{clientIsolationProfileId}:
    delete:
      description: Delete this client isolation profile.
      operationId: deleteClientIsolationProfile
      parameters:
        - description: Client Isolation Profile ID
          in: path
          name: clientIsolationProfileId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Delete Client Isolation Profile
      tags:
        - Client Isolation Profile
    get:
      description: Get the details for this client isolation profile.
      operationId: getClientIsolationProfile
      parameters:
        - description: Client Isolation Profile ID
          in: path
          name: clientIsolationProfileId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientIsolationProfile'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/ClientIsolationProfile'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get Client Isolation Profile
      tags:
        - Client Isolation Profile
    put:
      description: Update this client isolation profile.
      operationId: updateClientIsolationProfile
      parameters:
        - description: Client Isolation Profile ID
          in: path
          name: clientIsolationProfileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientIsolationProfile'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/ClientIsolationProfile'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Update Client Isolation Profile
      tags:
        - Client Isolation Profile
  /devicePolicies:
    post:
      description: >-
        Create a new device-policy. Content-Type:
        "application/vnd.ruckus.v1+json" will be deprecated on 2024/09/01.
      operationId: addDevicePolicy
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicePolicy'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/DevicePolicy'
          application/vnd.ruckus.v1.1+json:
            schema:
              $ref: '#/components/schemas/DevicePolicyV1_1'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePolicyOperationResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/DevicePolicyOperationResponse'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/EntityIdOperationResponse'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Create Device-Policy
      tags:
        - Device Policy
  /devicePolicies/{devicePolicyId}:
    delete:
      description: >-
        Delete a device-policy. Content-Type: "application/vnd.ruckus.v1+json"
        will be deprecated on 2024/09/01.
      operationId: deleteDevicePolicy
      parameters:
        - description: Device-policy ID
          in: path
          name: devicePolicyId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Delete Device-Policy
      tags:
        - Device Policy
    get:
      description: Get the device-policy details.
      operationId: getDevicePolicy
      parameters:
        - description: Device-policy ID
          in: path
          name: devicePolicyId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePolicy'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/DevicePolicy'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/DevicePolicyV1_1'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get Device-Policy
      tags:
        - Device Policy
    put:
      description: >-
        Update a device-policy. Content-Type: "application/vnd.ruckus.v1+json"
        will be deprecated on 2024/09/01.
      operationId: updateDevicePolicy
      parameters:
        - description: Device-policy ID
          in: path
          name: devicePolicyId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicePolicy'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/DevicePolicy'
          application/vnd.ruckus.v1.1+json:
            schema:
              $ref: '#/components/schemas/DevicePolicyV1_1'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Update Device-Policy
      tags:
        - Device Policy
  /dhcpConfigServiceProfiles:
    post:
      description: >-
        Create a new DHCP configuration service profile. Content-Type:
        "application/vnd.ruckus.v1+json" will be deprecated on 2024/09/01.
      operationId: createDhcpConfigServiceProfile
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DhcpConfigServiceProfileDeep'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/DhcpConfigServiceProfileDeep'
          application/vnd.ruckus.v1.1+json:
            schema:
              $ref: '#/components/schemas/DhcpConfigServiceProfile'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DhcpConfigServiceProfileDeepOperationResponse
            application/vnd.ruckus.v1+json:
              schema:
                $ref: >-
                  #/components/schemas/DhcpConfigServiceProfileDeepOperationResponse
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/EntityIdOperationResponse'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Create DHCP Configuration Service Profile
      tags:
        - DHCP Configuration Service Profile
  /dhcpConfigServiceProfiles/{dhcpConfigServiceProfileId}:
    delete:
      description: >-
        Delete a DHCP configuration service profile. Content-Type:
        "application/vnd.ruckus.v1+json" will be deprecated on 2024/09/01.
      operationId: deleteDhcpConfigServiceProfile
      parameters:
        - description: DHCP Config Service Profile ID
          in: path
          name: dhcpConfigServiceProfileId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Delete DHCP Configuration Service Profile
      tags:
        - DHCP Configuration Service Profile
    get:
      description: >-
        Get the DHCP configuration service profile details. Content-Type:
        "application/vnd.ruckus.v1+json" will be deprecated on 2024/09/01.
      operationId: getDhcpConfigServiceProfile
      parameters:
        - description: DHCP Config Service Profile ID
          in: path
          name: dhcpConfigServiceProfileId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DhcpConfigServiceProfileDeep'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/DhcpConfigServiceProfileDeep'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/DhcpConfigServiceProfile'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get DHCP Configuration Service Profile
      tags:
        - DHCP Configuration Service Profile
    put:
      description: >-
        Update a DHCP configuration service profile. Content-Type:
        "application/vnd.ruckus.v1+json" will be deprecated on 2024/09/01.
      operationId: updateDhcpConfigServiceProfile
      parameters:
        - description: DHCP Config Service Profile ID
          in: path
          name: dhcpConfigServiceProfileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DhcpConfigServiceProfileDeep'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/DhcpConfigServiceProfileDeep'
          application/vnd.ruckus.v1.1+json:
            schema:
              $ref: '#/components/schemas/DhcpConfigServiceProfile'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseIdOnly'
            application/vnd.ruckus.v1.1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Update DHCP Configuration Service Profile
      tags:
        - DHCP Configuration Service Profile
  /ethernetPortProfiles:
    post:
      description: Create a new ethernet port profile.
      operationId: createEthernetPortProfile
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EthernetPortProfile'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/EthernetPortProfile'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityIdOperationResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EntityIdOperationResponse'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Create Ethernet Port Profile
      tags:
        - Ethernet Port Profile
  /ethernetPortProfiles/{ethernetPortProfileId}:
    delete:
      description: Delete an ethernet port profile.
      operationId: deleteEthernetPortProfile
      parameters:
        - description: Ethernet port profile ID
          in: path
          name: ethernetPortProfileId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Delete Ethernet Port Profile
      tags:
        - Ethernet Port Profile
    get:
      description: Get the ethernet port profile details.
      operationId: getEthernetPortProfile
      parameters:
        - description: Ethernet port profile ID
          in: path
          name: ethernetPortProfileId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EthernetPortProfile'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EthernetPortProfile'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get Ethernet Port Profile
      tags:
        - Ethernet Port Profile
    put:
      description: Update an ethernet port profile.
      operationId: updateEthernetPortProfile
      parameters:
        - description: Ethernet port profile ID
          in: path
          name: ethernetPortProfileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EthernetPortProfile'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/EthernetPortProfile'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Update Ethernet Port Profile
      tags:
        - Ethernet Port Profile
  /ethernetPortProfiles/{ethernetPortProfileId}/radiusServerProfiles/{radiusServerProfileId}:
    delete:
      description: >-
        Deactivate RADIUS server profile on ethernet port profile for 802.1X
        authentication. Should be called after creating a 802.1X ethernet port
        profile.
      operationId: deactivateRadiusToEthernetPortProfile
      parameters:
        - description: Ethernet port profile ID.
          in: path
          name: ethernetPortProfileId
          required: true
          schema:
            type: string
        - description: RADIUS Server Profile ID.
          in: path
          name: radiusServerProfileId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Deactivate RADIUS Server Profile On Ethernet Port Profile
      tags:
        - Ethernet Port Profile
    put:
      description: >-
        Activate RADIUS server profile on ethernet port profile for 802.1X
        authentication. Should be called after creating a 802.1X ethernet port
        profile.
      operationId: activateRadiusToEthernetPortProfile
      parameters:
        - description: Ethernet port profile ID.
          in: path
          name: ethernetPortProfileId
          required: true
          schema:
            type: string
        - description: RADIUS Server Profile ID.
          in: path
          name: radiusServerProfileId
          required: true
          schema:
            type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/OperationResponseRequestIdOnly'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Activate RADIUS Server Profile On Ethernet Port Profile
      tags:
        - Ethernet Port Profile
  /hotspot20IdentityProviders:
    post:
      description: Add a Hotspot 2.0 identity provider.
      operationId: addHotspot20IdentityProvider
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hotspot20IdentityProvider'
          application/vnd.ruckus.v1+json:
            schema:
              $ref: '#/components/schemas/Hotspot20IdentityProvider'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityIdOperationResponse'
            application/vnd.ruckus.v1+json:
              schema:
                $ref: '#/components/schemas/EntityIdOperationResponse'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad/malformed request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not-authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource or related-entity not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation error
        '423':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Locked
        '500':
          content:
[...]
